<div class="header">
  <h1>KeepScore</h1>
  <div class="nav-link-container">
    <%= link_to "User", users_path, class: "nav-link", data: {"turbo-frame": :"tab_content"} %>
    <%= link_to "Sessions", game_sessions_path, class: "nav-link", data: {"turbo-frame": :"tab_content"} %>
    <%= link_to "Scores", scores_path, class: "nav-link", data: {"turbo-frame": :"tab_content"} %>
    <%= link_to "Stats", stats_path, class: "nav-link", data: {"turbo-frame": :"tab_content"} %>
  </div>
</div>

<div class="content-container">
  <%= yield %>
</div>